
/* *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"poppins",sans-serif;
   position: absolute;
}  */
.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
    /* position: fixed; */
    display: flex;
    padding-top: 20px;
    left: 800px;
  }
  .center{
    position: absolute;
  }
  
  input {
    width: 400px;
   
  }
  h2{
    padding-top: 30px;
  }