
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"poppins",sans-serif;
} 
.center{
    width: 50%;
    margin: auto;
    position: absolute;
    padding-top: 200px;
    left: 30%;
}
